*.o
*.a
*.pb.cc
*.pb.h
*.log
nginx/include/

ngxplus/test/test_iobuf
ngxplus/test/test_log
ngxplus/test/test_open_file
ngxplus/test/test_timer
ngxplus/test/test_zero_copy_stream
ngxplus/test/logs/
test/logs/

test/test_protocol
test/test_serialize_parse
test/test_service

sample/server
sample/client
sample/test_client
sample/logs/

